body{
    background-color: rgb(115, 214, 165);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    margin-left: 50px;
    max-width: 1300px;
}

#tabletitle{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#tables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

td{
    padding-right: 50px;
    text-align: left;
}

th{
    padding-right: 20px;
    text-align: left;
}
caption{
    padding-right: 50px;
}